<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <tr><td>ID</td><td>NAME</td><td>EMAIL</td><td>UPDATE</td><td>DELETE</td></tr>
        {% for i in res %}
        <tr><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td>
            <td><a href="{% url 'fupdate' data=i.0 %}"><button>Update</td>
            <td><a href="{% url 'dydelete' id=i.0 %}"><button>Delete</td></tr>
        {% endfor %}

</body>
</html>