<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> insert the value</h1>
    <form method="get">
        <label> id</label><input type="number" name='id' value={{i.0}} required><br>
        <label> name</label><input type="text" name='name'  value={{i.1}} required><br>
        <label> email</label><input type="email" name='email'   value={{i.2}} required><br>
        <button type="submit">update</button>
        </form>
</body>
</html>